* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.FNBanner {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(/FNBanner.png);
  background-size: cover;
  background-position: center;
}

.FNBanner h1 {
  color: #ffffff;
  text-align: left;
  max-width: 25%;
  margin-top: 200px;
  margin-left: 80px;
  font-size: 3rem;
  word-wrap: break-word;
  text-align: left;
  font-family: "Segoe UI";
}
.FNBanner2 {
  width: 100vw;
  display: flex;
  height: auto;
  background-size: cover;
  background-position: center;
}

.FNHeadSets_Cards, .FNFonesInEar_Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-left: -0.75rem;
  padding: 2rem;
  background-color: #ffffff;
}


.card_headset {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1.5rem;
}

.Frase {
  text-align: center;
  font-size: 4rem;

}
.card_headset img {
  width: auto;
  height: 175px;
  border-radius: 8px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.card_headset h1 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333333;
}


.card_headset p {
  font-size: 0.95rem;
  color: #666666;
  line-height: 1.4;
}

.card_headset:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
