* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: white;
}

main {
  max-width: 1200px;
  margin: 6rem auto 2rem;
  padding: 0 1rem;
}

header {
  padding: 0.5rem;
  position: relative;
  z-index: 10;
  width: 100%;
  top: 5px;
}

nav {
  text-decoration-color: #000000;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  color: #002d7f;
}

nav a:active {
  color: #0056b3;
}

#navbar {
  position: fixed;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: -5px;
}

#navbar.scrolled {
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom, #00000000 20%, #000000cf),
    url("./Imagens/Camera\ -\ Home.jpg ");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 5px rgba(7, 7, 7, 0.7);
  margin-top: -50px;
}

.hero h1 {
  color: white;
  text-align: left;
  margin-left: 100px;
  font-size: 4rem;
  font-family: "Baskerville Old Face";
}

.logo img {
  max-width: 200px;
  height: auto;
  width: auto;
  color: rgb(0, 0, 0);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.card-image {
  flex: 1;
  max-width: 40%;
  object-fit: cover;
}

.card-text {
  flex: 2;
  padding: 20px;
}

.card-text h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.card-text p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  text-align: justify;
}

.carousel {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.carousel-track-container {
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 100%;
  text-align: center;
  padding: 10px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:focus {
  outline: none;
}

.footer {
  background-color: #000000;
  color: #878792;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-left,
.footer-right {
  display: flex;
}

.footer-left p,
.footer-right p {
  margin: 0;
}

.footer-right p a {
  color: #0056b3;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.footer-right p a:hover {
  color: #002d7f;
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
    height: 600px;
  }

  .hero h1 {
    font-size: 3rem;
    margin-left: 50px;
    padding-right: 30px;
  }

  nav a {
    font-size: small;
    font-weight: bold;
    margin-right: auto;
  }

  .logo img {
    max-width: 70px;
    height: auto;
    width: auto;
  }

  .footer-content {
    flex-direction: column;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .card-image {
    width: 100%;
    height: 300px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 8px;
  }

  .card-text {
    padding: 15px;
    text-align: center;
  }
  .card-text h3 {
    font-size: 1rem;
  }

  .card-text p {
    font-size: 70%;
    text-align: justify;
  }
}
/*Inicio G.O.G*/
.cabeçalho_camera {
  position: fixed;
  padding: 10px 20px;
  background-color: white;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: -5px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

main {
  display: flex;
  flex-direction: column;
}
.h1_camera {
  color: #000000;
  margin-left: -15px;
}

.hr_camera {
  margin-left: -15px;
}

.cards_camera {
  display: flex;
}

.card_camera {
  width: 380px;
  height: auto;
  background-color: #ddd;
  margin: 20px;
  flex-direction: column;
  border-radius: 8px;
  /*O overflow oculta qualquer elemento que esteja ultrapassando as dimensões do container, fazendo com que o elemento não faça o container aumentar para acomodar seu conteúdo*/
  overflow: hidden;
  display: flex;
  /*Sombreamento dos cards*/
  box-shadow: 0 2px 4px black;
  /*Ajuda no hover*/
  transition: transform 0.3s;
}

.card_camera2 {
  flex: 0 0 calc((100% - 40px) / 3);
  height: auto;
  background-color: #ddd;
  flex-direction: column;
  border-radius: 8px;
  /*O overflow oculta qualquer elemento que esteja ultrapassando as dimensões do container, fazendo com que o elemento não faça o container aumentar para acomodar seu conteúdo*/
  overflow: hidden;
  display: flex;
  /*Sombreamento dos cards*/
  box-shadow: 0 2px 4px black;
  /*Ajuda no hover*/
  transition: transform 0.3s;
}

.card_camera:hover {
  transform: translateY(-5px);
}

.card_camera2:hover {
  transform: translateY(-5px);
}

.card_imagem_camera {
  height: 60%;
  overflow: hidden;
  width: 100%;
}

.card_imagem_camera img {
  height: 100%;
  /*O object-fit faz com que a imagem preencha o contâiner completo e tentando não mudar a proporção original da imagem, cortando bordas se necessário*/
  object-fit: cover;
  width: 100%;
}

.card_texto_camera {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.card_texto_camera p {
  font-style: italic;
  padding-top: 5px;
}

.btn_galeria {
  display: flex;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #000000;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.beneficios {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.beneficios-itens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.card-beneficios {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: transparent;
  flex-direction: column;
}

.linha_vertical {
  display: flex;
  width: 1px;
  height: 180px;
  background-color: gray;
}
/* WalkMan Início */

.wtudo {
  width: 100%;
}

.whtml{
  min-height: 1910;
}

/* coisas do cabeçalho */
.wcabecalho {
  position: fixed;
  padding: 10px 20px;
  background-color: white;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: -5px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}
.wlogo {
  max-width: 200px;
  height: auto;
  width: auto;
  color: rgb(0, 0, 0);
}
.wlogo img {
  max-height: 26px;
  height: auto;
  width: auto;
}

.wmain{
  flex: 1;
}
/* coisas do corpo */

.wcaixa {
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
  margin-bottom: 50px;
  position: relative;
  display: flex;
}

.wcaixa_img{
  max-height: 1000px;
  height: auto;
  width: auto;
  height: 500px;
}

.wtexto {
  vertical-align: top;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

h1,p {
  display: inline;
}

.wdt,
.wtexto .wdt {
  text-align: end;
  vertical-align: top;
}

.wdetalhes {
  opacity: 1;
  max-width: 100%;
  left: 7%;
  top: 50px;
  margin-top: 50px;
  margin-left: 7%;
}

.wico {
  height: auto;
  width: auto;
  height: 30px;
  max-height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

.wbotao {
  background-color: #000000;
  width: 100px;
  text-align: center;
  border-radius: 8px;
  float: right;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* Adaptação de tela */
@media (max-width: 768px) {

  .wcaixa img {
    max-height: 400px;
    height: auto;
    width: auto;
  }
  .wcaixa {
    display: block;
    padding: 10px;
    margin-bottom: 50px;
  }
  .wcaixa_img {
    max-height: 300px;
    height: auto;
    width: auto;
  }
  .wdetalhes {
    display: none;
  }
  .wbotaomin{
    height: 50px;
  }
}
/* WalkMan Fim */

/* Xperia Inicio*/
.Xcabecalho {
  position: fixed;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: -5px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

}