* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  max-width: 1200px;
  margin: 6rem auto 2rem;
  padding: 0 1rem;
}

header {
  padding: 0.5rem;
  position: relative;
  z-index: 10;
  width: 100%;
  top: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

nav {
  text-decoration-color: #000000;
  max-width: auto;
  margin: -10px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  color: rgb(160, 160, 160);
}

.nav-icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.4rem;
  color: #000;
  margin: 9px;
}

/* Caixa de pesquisa */
.search-box {
  display: flex;
  align-items: center;
  position: relative;
}

#search-input {
  width: 0;
  opacity: 0;
  padding: 5px;
  margin-left: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.3s ease, opacity 0.3s ease;
}

/* quando ativo */
#search-input.active {
  width: 150px;
  opacity: 1;
}

#navbar {
  position: fixed;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: -5px;
}

#navbar:hover {
  background-color: rgb(255, 255, 255);
}

#navbar.scrolled {
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.FNBanner {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(/FNBanner.png);
  background-size: cover;
  background-position: center;
}

.FNBanner h1 {
  color: #ffffff;
  text-align: left;
  max-width: 25%;
  margin-top: 200px;
  margin-left: 80px;
  font-size: 3rem;
  word-wrap: break-word;
  text-align: left;
  font-family: "Segoe UI";
}
.FNBanner2 {
  width: 100vw;
  display: flex;
  height: auto;
  background-size: cover;
  background-position: center;
}

.FNHeadSets_Cards, .FNFonesInEar_Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-left: -0.75rem;
  padding: 2rem;
  background-color: #ffffff;
}


.card_headset {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1.5rem;
}

.Frase {
  text-align: center;
  font-size: 4rem;

}
.card_headset img {
  width: auto;
  height: 175px;
  border-radius: 8px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.card_headset h1 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333333;
}


.card_headset p {
  font-size: 0.95rem;
  color: #666666;
  line-height: 1.4;
}

.card_headset:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
