* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;

}

.menu b {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    font-weight: normal;
    margin-left:0;
    margin-right:0;
    align-items: center;    
}

.menu b:hover {
  color: #0070d1;
}

#navsds {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -0.1rem;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    display: flex;
}

.section_sds {
  margin-left:0.5rem;
  margin-right:0.5rem;
  padding: 0px;
  background: rgb(0, 0, 0);
  margin-top: 0px;
}

.banner_sds {
  display:flex;
  margin-top:0px ;
  margin-bottom: 3rem;
  padding-bottom: 5rem;
  background-image: url(../Imagens/Banner_sisds.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1vh 4px rgba(0,0,0,0.1);
}

.h1_sds {
  display:flex;
  text-align:center;
  font-family: 'Segoe UI';
  font-size: clamp(1rem, 2.5vw + 1rem, 2.5rem);
  margin-top:15vh;
  margin-bottom:1.5vh;
}

.txt_sds {
  display:flex;
  text-align:center;
  align-items: center;
  font-family: 'Segoe UI';
  font-size: clamp(1rem, 2vw + 1rem, 2rem);
  margin-top:0;
  margin-bottom: 15vh;
  word-wrap: break-word;
  margin-left: 20vw;
  margin-right: 20vw;
}

.txt2_sds {
  display:flex;
  text-align:left;
  align-items: left;
  font-family: 'Segoe UI';
  font-size: 2.2vw;
  margin-top:0;
  margin-bottom: 0vh;
  word-wrap: break-word;
  margin-left: 0vw;
  margin-right: 0vw;
  background-color: #ffffff;
  width: 75%;
}

.div_sds {
  display:flex;
  justify-content: center;
}

.div2_sds {
  display:flex;
  align-items: center;
  width:80vw;
  position:relative; 
  justify-content: center;
  border: 0.1vh solid black;
  margin-left: 10vw; 
  margin-right:10vw;
  background-color: rgb(145, 151, 155);
}

.h2_sds {
  display:flex;
  text-align:left;
  font-family: 'Segoe UI';
  font-size: clamp(1rem, 3vw + 1rem, 3rem);
  margin-left: 1vw;
  margin-top:0vh;
  margin-bottom:0vh;
  font-weight:400;
}

#bordertop_sds {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#borderbot_sds {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.carrossel {
  background-color: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0 5px 3px rgba(0,0,0,0.3);
}

.slides {
  display: flex;              /* coloca os slides lado a lado */
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.conteudo {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.conteudo img {
  min-width: 16vw;
  min-height:32vh;
  max-height:32vh;
  margin-left:3.2vw;
  max-width: 16vw;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

/* Estilo da tabela */
.caract {
  width: 100%;
  background-color: #ffffff;
 
}

.caract td {
  padding: 8px;
}

.btn {
  display:flex;
  position: absolute;
  top: 50%;
  left: 95%;
  right: 10%;
  width: 5%;
  height: 100%;
  transform: translateY(-50%);
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  padding: 50% 0%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0%;
  z-index: 2;
  margin:0;
}


.prev { left: 0px; }
.next { right: 0px; }

.btn:hover { background: rgba(0,0,0,0.7); }

