* {
  margin: 0 px;
  padding: 0 px;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;

}

.menu b {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3 s;
    font-weight: normal;
    margin-left:0;
    margin-right:0;
    align-items: center;    
}

.menu b:hover {
  color: #0070d1;
}

#navsds {
    box-shadow: 0 2 px 4 px rgba (0,0,0,0.1);
    margin-left: -2 rem;
    margin-right: -2 rem;
    margin-top: -0.1 rem;
    padding-left: 10 vw;
    padding-right: 10 vw;
    padding-bottom: 0.5 rem;
    justify-content: space-between;
    display: flex;
}

.section_sds {
  display:flex;
  justify-content:center;
  margin-left:0.5 rem;
  margin-right:0.5 rem;
  padding: 0 px;
  margin-top: 0 px;
}

.section2_sds {
  display:flex;
  justify-content:center;
  margin-left:0.5 rem;
  margin-right:0.5 rem;
  padding: 0 px;
  margin-bottom: 30 vh;
}

.section3_sds {
  display:flex;
  justify-content:left;
  margin-left:0.5 rem;
  margin-right:0.5 rem;
  padding: 0 px;
  margin-bottom: 5 vh;
}

.section4_sds {
  display:flex;
  justify-content:right;
  margin-left:0.5 rem;
  margin-right:0.5 rem;
  padding: 0 px;
  margin-bottom: 5 vh;
}

.cardsds {
  margin: 1 vh 1 vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 20 px;
  overflow: hidden;
  padding: 0 px;
  min-width: 20 vw;
  box-shadow: 0 2 px 4 px black;
  transition: transform 0.3 s ease;
}

.cardsds2 {
  margin: 1 vh 1 vw;
  display: flex;
  align-items: left;
  background-color: #fff;
  border-radius: 20 px;
  overflow: hidden;
  padding: 0 px;
  min-width: 20 vw;
}

.cardsds3 {
  margin: 2 vh 1 vw;
  display: flex;
  align-items: left;
  background-color: #fff;
  border-radius: 20 px;
  overflow: hidden;
  margin-left:5 vw;
  padding: 0 px;
  min-width: 20 vw;
  max-width: 60 vw;
}

.cardsds4 {
  margin: 2 vh 1 vw;
  display: flex;
  align-items: right;
  background-color: #fff;
  border-radius: 20 px;
  overflow: hidden;
  margin-right:5 vw;
  padding: 0 px;
  min-width: 20 vw;
  max-width: 60 vw;
}


.img_sds {
  width: 20 vw;
}

.img_sds2 {
  min-width: 20 vw;
  max-width: 20 vw;
}

.banner_sds {
  display:flex;
  margin-top:0 px ;
  margin-bottom: 3 rem;
  padding-bottom: 5 rem;
  background-image: url(Imagens/Banner_sisds.png);
  background-size: cover;
  height: 100 vh;
  width: 100 vw;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1 vh 4 px rgba (0,0,0,0.1);
}

.banner2_sds {
  display:flex;
  margin-top:0 px ;
  margin-bottom: 3 rem;
  padding-bottom: 5 rem;
  background-image: url(Imagens/Banner3_sisds.png);
  background-size: cover;
  height: 20 vh;
  width: 100 vw;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1 vh 4 px rgba (0,0,0,0.1);
}

.banner3_sds {
  display:flex;
  margin-top:0 px ;
  margin-bottom: 3 rem;
  padding-bottom: 5 rem;
  background-image: url(Imagens/Banner_sisds2.png);
  background-size: cover;
  height: 20 vh;
  width: 100 vw;
  background-position: left;
  background-repeat: no-repeat;
  box-shadow: 0 1 vh 4 px rgba (0,0,0,0.1);
}

.banner4_sds {
  display:flex;
  margin-top:0 px ;
  margin-bottom: 3 rem;
  padding-bottom: 5 rem;
  background-image: url(Imagens/Banner4_sisds.png);
  background-size: cover;
  height: 20 vh;
  width: 100 vw;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1 vh 4 px rgba (0,0,0,0.1);
}

.banner5_sds {
  display:flex;
  margin-top:0 px ;
  margin-bottom: 3 rem;
  padding-bottom: 5 rem;
  background-image: url(Imagens/Banner5_sisds.png);
  background-size: cover;
  height: 20 vh;
  width: 100 vw;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1 vh 4 px rgba (0,0,0,0.1);
}

.banner6_sds {
  display:flex;
  margin-top:0 px ;
  margin-bottom: 3 rem;
  padding-bottom: 5 rem;
  background-image: url(Imagens/Banner7_sisds.png);
  background-size: cover;
  height: 50 vh;
  width: 100 vw;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1 vh 4 px rgba (0,0,0,0.1);
}

.banner7_sds {
  display:flex;
  margin-top:0 px ;
  margin-bottom: 0 rem;
  padding-bottom: 5 rem;
  background-image: url(Imagens/Sds6.png);
  background-size: cover;
  height: 50 vh;
  width: 100 vw;
  background-position:bottom;
  background-repeat: no-repeat;
  box-shadow: 0 1 vh 4 px rgba (0,0,0,0.1);
}

.h1_sds {
  display:flex;
  text-align:center;
  font-family: 'Segoe UI';
  font-size: clamp (1 rem, 2.5 vw + 1 rem, 2.5 rem);
  margin-top:15 vh;
  margin-bottom:1.5 vh;
}

.txt_sds {
  display:flex;
  text-align:center;
  align-items: center;
  font-family: 'Segoe UI';
  font-size: clamp (1 rem, 2 vw + 1 rem, 2 rem);
  margin-top:0;
  margin-bottom: 15 vh;
  word-wrap: break-word;
  margin-left: 20 vw;
  margin-right: 20 vw;
}

.txt2_sds {
  display:flex;
  text-align:left;
  align-items: left;
  font-family: 'Segoe UI';
  font-size: 1.5 vw;
  margin-top:0;
  margin-bottom: 0 vh;
  word-wrap: break-word;
  margin-left: 0 vw;
  margin-right: 0 vw;
  background-color: #ffffff;
  width: 90 %;
}

.div_sds {
  display:flex;
  justify-content: center;
}

.div2_sds {
  display:flex;
  align-items: center;
  width:80 vw;
  position:relative; 
  justify-content: center;
  border: 0.1 vh solid black;
  margin-left: 10 vw; 
  margin-right:10 vw;
  background-color: rgb (145, 151, 155);
}

.h2_sds {
  display:flex;
  text-align:left;
  font-family: 'Segoe UI';
  font-size: clamp (0.8 rem, 1.6 vw + 1 rem, 2 rem);
  margin-left: 1 vw;
  margin-top:0 vh;
  margin-bottom:0 vh;
  font-weight:400;
}


